.header {
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header > div > h3 {
    color: rgb(58, 58, 58);
    padding-top: 6%;
}

.header > div > img {
    max-width: 60%;
}


.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navigation div a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-align: center;
    color: black;
    background-color: rgb(248,248,248);
}

.navigation div a:hover {
    background-color: rgb(211, 208, 208);
    color: rgb(0,192,243);
}

a.active-nav {
    background-color: rgb(71, 71, 71) !important;
    color: rgb(0,192,243) !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    min-width: 100%;
    z-index: 1;
}

.dropdown-content a {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
    border-radius: 3px !important;
}

.dropdown:hover .dropdown-content {display: block;}

html{ padding-bottom: 25px;}

p {
    margin: 2% 20%;
}

#intro {
    background-image: url('edificio_de_cimpa_y_matematicas.jpg');
    text-align: center;
    color: white;
    margin: 0%, 20%;
    padding: 2%;
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center ;
}
