.header {
    padding-left: 2%;
    padding-top: 1%;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: grid;
    grid-template-columns: 0.7fr 2fr;
}

.header > div > img {
    max-width: 100%;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navigation div a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-align: center;
    color: black;
    background-color: rgb(248,248,248);
}

.navigation div a:hover {
    background-color: rgb(211, 208, 208);
    color: rgb(0,192,243);
}

a.active-nav {
    background-color: rgb(248,248,248) !important;
    color: rgb(0,192,243) !important; 
}