

.section2 {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    grid-auto-rows: 1fr;
    padding: 1%;
    max-height: min-content;
}

.subsection2 {
    vertical-align: center;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    padding: 1%;
}



.table {
    table-layout: auto;
    width: 100%;
}

th, dh {
    overflow: hidden;
    text-align: center;
}

table.dataTable tbody td {
    vertical-align: top;
}

/*
.proyectos_inscritos {

}
*/

#proyectos-inscritos {
    overflow-y: scroll;
    height: 70%;
    
    display: block;
}

.scrollable {
    display: block;
    height:1100px;
    overflow-y: auto;
    overflow-x: hidden;
}
