

.section2 {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 1%;
}

.subsection2 {
    vertical-align: center;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    padding: 1%;
}


.subsection3{

}


.table {
    table-layout: auto;
    width: 100%;
}

th, dh {
    overflow: hidden;
    text-align: center;
}

table.dataTable tbody td {
    vertical-align: top;
}

.proyectos_inscritos {
background-color: rgb(252, 228, 214);
}