.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    padding: 1%;
}

.section3 > div {
    border-left: rgba(0, 0, 0, 0.082);
    border-right: rgba(0, 0, 0, 0.082);
    border-left-style: dashed;
    border-right-style: dashed;
}

.table {
    table-layout: auto;
    width: 100%;
}

th, dh {
    overflow: hidden;
    text-align: center;
}

table.dataTable tbody td {
    vertical-align: top;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}