<!doctype html>
<header>
  <title>TCU-725 / {% block title %}{% endblock %}</title>
  <!--Boostrap + Custom CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


  <!--fig render-->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  {% block header %}
  {%endblock%}
</header>



<!-- Banner de presentacion -->
<div class="header">
  <div>
    <img src="{{ url_for('static', filename='Logo_incio_ODI.png') }}"></img>
  </div>
  
  <div>
    <h3><u>TCU-725</u></h3>
    <h5 style="color: rgb(58, 58, 58);">
      Éxito en MATEM: </br>
      Potenciando nuestros futuros estudiantes
    </h5>
  </div>
</div>

<!-- NavBar-->
<div class = "navigation">
  <div>
    <a href="/" {% if state == "general" %} class = "active-nav" {% endif%}>General</a>
  </div>
  <div>
    <a href="/estudiantes" {% if state == "estudiantes" %} class = "active-nav" {% endif%}>Estudiantes</a>
  </div>
  <div>
    <a href="/tutores" {% if state == "tutores" %} class = "active-nav" {% endif%}>Tutores</a>
  </div>
  <div>
    <a href="/colegios" {% if state == "colegios" %} class = "active-nav" {% endif%}>Colegios</a>
  </div>
  <div class="dropdown">
    <a href="/carga_academica" {% if state == "cargas" %} class = "active-nav" {% endif%}>Carga Academica</a>
    <!--Navbar lateral-->
      <div  class = dropdown-content>
      {% for year in Estado.anos %}
          <a href="\carga_academica\{{year}}" class="vertical-item">{{year}}</a>
      {% endfor %}
    </div>
  </div>
</div>

{% block body %}
{% endblock %}

{% block scripts %}
{% endblock %}