{% block general %}
<div class="section3">
    <div>
        <h5 style="text-align: center; margin-top: 2%; margin-bottom: 5%;">Estado general de proyectos</h5>
        {% set row_data = Estado.tabla_estado_proyecto.values.tolist() %}
        <table class="table table-striped table-bordered">
            <tbody>
                {% for i in range(0, 4) %}
                <tr>
                    {% for j in range(0,3)%}
                    <th>{{ row_data[j][i] }}</th>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    
    <div>
        <h5 style="text-align: center; margin-top: 2%; margin-bottom: 5%;">Cantidad de horas promedio por ciclo</h5>
        <table class="table table-striped table-bordered">
            {% for key, value in Estado.tabla_promedio[2:].iterrows() %}
            <tr>
                <th>
                    {{ value["Categoría"] }}
                </th>
                <th>
                    {{ value["Promedio"] }}
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div>
        <h5 style="text-align: center; margin-top: 2%; margin-bottom: 5%;">Tipo de proyecto</h5>
        <div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        {{ Estado.tabla_tipo["Tipo"][0] }}
                    </th>
                    <th>
                        {{ Estado.tabla_tipo["Cantidad"][0] }}
                    </th>
                    <th>
                        {{ Estado.tabla_tipo["Porcentaje"][0] }}%
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ Estado.tabla_tipo["Tipo"][1] }}
                    </th>
                    <th>
                        {{ Estado.tabla_tipo["Cantidad"][1] }}
                    </th>
                    <th>
                        {{ Estado.tabla_tipo["Porcentaje"][1] }}%
                    </th>
                </tr>
            </table>
        </div>
        
        <div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        {{ Estado.tabla_promedio["Categoría"][0]}}
                    </th>
                    <th>
                        {{ Estado.tabla_promedio["Promedio"][0]}}
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ Estado.tabla_promedio["Categoría"][1]}}
                    </th>
                    <th>
                        {{ Estado.tabla_promedio["Promedio"][1]}}
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div id="estado_proyecto" class="chart"></div>
    </div>
    <div>
        <div id="horas_ciclo" class="chart"></div>
    </div>
    <div>
        <div id="proyectos_ano" class="chart"></div>
    </div>
</div>


<div>
    {% set row_data = Estado.tabla_proyectos.values.tolist() %}
    <table id="dtDynamicVerticalScroll" class="table table-striped table-bordered table-sm" cellspacing="0"
        width="100%">
        <thead>
            <tr>
                <th class="th-sm">Investigador</th>
                <th class="th-sm">Codigo</th>
                <th class="th-sm">Proyecto</th>
                <th class="th-sm">Tipo de proyecto</th>
                <th class="th-sm">Carga Ciclo I</th>
                <th class="th-sm">Carga Ciclo II</th>
                <th class="th-sm">Carga Ciclo III</th>
            </tr>
        </thead>
        <tbody>
            {% for row in row_data %}
            <tr>
                {% for col in row%}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Investigador</th>
                <th>Codigo</th>
                <th>Proyecto</th>
                <th>Tipo de proyecto</th>
                <th>Carga Ciclo I</th>
                <th>Carga Ciclo II</th>
                <th>Carga Ciclo III</th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Editar estilos despues del cafe -->
<div class="download-button">
    <div>
        <a href="\informe_carga_academica">Generar informe</a>
    </div>
</div>


{% endblock %}

{% block base_scripts %}

<script>
    $(document).ready(function () {
        $('#dtDynamicVerticalScroll').DataTable({
            "scrollY": "50vh",
            "scrollCollapse": true,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>


<script type='text/javascript'>
    var graphs = {{ Estado.horas_ciclo | safe}};
    Plotly.plot('horas_ciclo', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ Estado.proyectos_ano | safe}};
    Plotly.plot('proyectos_ano', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ Estado.fig_estado_proyecto | safe}};
    Plotly.plot('estado_proyecto', graphs, {});
</script>
{% endblock %}