{% extends 'base.html' %}
{% block title %}Carga Academica{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='carga_academica.css') }}">
{% endblock %}

{% block body%}
<div class="base">
    <!--Navbar lateral-->
    <div class="vertical-nav">
        <div>
            <a href="\carga_academica" class="vertical-item">Total</a>
        </div>
        {% for year in CargaAcademica.anos %}
        <div>
            <a href="\carga_academica?year={{year}}" class="vertical-item">{{year}}</a>
        </div>
        {% endfor %}
    </div>
    <!--Contenido actualizable-->
    {% if CargaAcademica.year is none %}
        {% include 'carga_academica_base.html'%}
        {% block base %}
        {% endblock %}
        {% block base_scripts %}
        {% endblock %}
    {% else %}
    <div class="contenedor">
        {% include 'carga_academica_anual.html' %}
        {% block anual %}
        {% block anual_scripts %}
        {% endblock %}
        {% endblock %}
    </div>
    {% endif %}

</div>
{% endblock%}


{% block scripts %}
<script type='text/javascript'>
    var graphs = {{ CargaAcademica.fig_proyecto_genero | safe}};
    Plotly.plot('proyecto_genero', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ CargaAcademica.horas_ciclo | safe}};
    Plotly.plot('horas_ciclo', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ CargaAcademica.proyectos_ano | safe}};
    Plotly.plot('proyectos_ano', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ CargaAcademica.fig_estado_proyecto | safe}};
    Plotly.plot('estado_proyecto', graphs, {});
</script>
{% endblock %}