{% block anual %}

<!-- Contenedor principal de la vista-->
<div class="section2">
    <!-- Seccion izquierda -->
    <div>
        <h5 style="text-align: center; margin-top: 2%; margin-bottom: 5%;" >Proyectos inscritos durante el año {{ Estado.year }}</h5>
        <table id="proyectos-scrollable" class="table table-striped table-bordered proyectos_inscritos scrollable">
            <thead>
                <tr>
                    <th>Investigador</th>
                    <th>Codigo</th>
                    <th>Proyecto</th>
                    <th>Tipo de proyecto</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in Estado.tabla_proyectos.iterrows() %}
                <tr>
                    <th>{{ value['Investigador'] }}</th>
                    <th>{{ value['Codigo'] }}</th>
                    <th>{{ value['Proyecto'] }}</th>
                    <th>{{ value['Vicerrect'] }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Seccion Derecha -->
    <div>
        <div style="padding-bottom: 5%;">
            <h5 style="text-align: center; margin-top: 2%; margin-bottom: 5%;">Estado de los proyectos para el año {{ Estado.year }}</h5>
            <div class="subsection2">
                <div>
                    <table class = "table table-striped table-bordered">
                        <tr>
                            <th>
                                Cantidad de proyectos activos
                            </th>
                            <th>
                                {{ (Estado.tabla_estado_proyecto["Cantidad de proyectos activos"][0]) | int }}
                            </th>
                            <th>
                                #
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Cantidad de proyectos con vigencia
                            </th>
                            <th>
                                {{ (Estado.tabla_estado_proyecto["Cantidad de proyectos con vigencia"][0]) | int }}
                            </th>
                            <th>
                                {{ Estado.tabla_estado_proyecto["Cantidad de proyectos con vigencia"][1] }}%
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Cantidad de proyectos con carga aprobada para 2022
                            </th>
                            <th>
                                {{ (Estado.tabla_estado_proyecto["Cantidad de proyectos con carga aprovada para el 2022"][0]) | int }}
                            </th>
                            <th>
                                {{ Estado.tabla_estado_proyecto["Cantidad de proyectos con carga aprovada para el 2022"][1] }}%
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Cantidad de proyectos con sobrecarga
                            </th>
                            <th>
                                {{ (Estado.tabla_estado_proyecto["Cantidad de proyectos con sobrecarga"][0])| int }}
                            </th>
                            <th>
                                {{ Estado.tabla_estado_proyecto["Cantidad de proyectos con sobrecarga"][1] }}%
                            </th>
                        </tr>
                    </table>
                </div>
                <div id="estado_proyecto" class="chart"></div>
            </div>
        </div>
        <div style="padding-bottom: 5%;">
            <h5 style="text-align: center; margin-top: 2%; margin-bottom: 5%;">Cantidad de horas promedio por ciclo</h5>
            <div class = "subsection2">
                <div>
                    <table class = "table table-striped table-bordered">
                        {% for key, value in Estado.tabla_promedio[2:].iterrows() %}
                        <tr>
                            <th>
                                {{ value["Categoría"] }}
                            </th>
                            <th>
                                {{ value["Promedio"] }}
                            </th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="horas_ciclo" class="chart"></div>
            </div>
        </div>
        <div>
            <h5 style="text-align: center; margin-top: 2%; margin-bottom: 5%;">Tipo de proyecto</h5>
            <div class = "subsection2">
                <div>
                    <table class = "table table-striped table-bordered">
                        <tr>
                            <th>
                                {{ Estado.tabla_tipo["Tipo"][0] }}
                            </th>
                            <th>
                                {{ Estado.tabla_tipo["Cantidad"][0] }}
                            </th>
                            <th>
                                {{ Estado.tabla_tipo["Porcentaje"][0] }}%
                            </th>
                        </tr>
                        <tr>
                            <th>
                                {{ Estado.tabla_tipo["Tipo"][1] }}
                            </th>
                            <th>
                                {{ Estado.tabla_tipo["Cantidad"][1] }}
                            </th>
                            <th>
                                {{ Estado.tabla_tipo["Porcentaje"][1] }}%
                            </th>
                        </tr>
                    </table>
                </div>
                <div id="proyecto_genero" class="chart"></div>
            </div>
        </div>
    <div>
</div>

{% endblock %}

{% block anual_scripts %}
<script type='text/javascript'>
    var graphs = {{ Estado.fig_estado_proyecto | safe}};
    Plotly.plot('estado_proyecto', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ Estado.fig_proyecto_genero | safe}};
    Plotly.plot('proyecto_genero', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ Estado.horas_ciclo | safe}};
    Plotly.plot('horas_ciclo', graphs, {});
</script>
{% endblock %}