{% extends 'base_layout.html' %}
{% block title %}Carga Academica{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='carga_academica.css') }}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

{% endblock %}

{% block body%}
    <!--Contenido actualizable-->
    {% if Estado.general %}
        {% include 'carga_academica_general.html'%}
        {% block general %}
        {% endblock %}
    {% else %}
        {% include 'carga_academica_anual.html' %}
        {% block anual %}
        {% endblock %}
    {% endif %}
{% endblock%}


{% block scripts %}
<script type='text/javascript'>
    var graphs = {{ Estado.fig_proyecto_genero | safe}};
    Plotly.plot('proyecto_genero', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ Estado.horas_ciclo | safe}};
    Plotly.plot('horas_ciclo', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ Estado.proyectos_ano | safe}};
    Plotly.plot('proyectos_ano', graphs, {});
</script>

<script type='text/javascript'>
    var graphs = {{ Estado.fig_estado_proyecto | safe}};
    Plotly.plot('estado_proyecto', graphs, {});
</script>
{% endblock %}