{% extends 'base.html' %}

{% block title %}General{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
{% endblock %}

{% block body%}
<div class="content-block">
    <div>
        MAPA
    </div>
    {% include 'construccion.html' %}
    {% block Construccion %}
    {% endblock %}
    <div>
        TABLA
    </div>
</div>
{% endblock%}

{% block scripts %}
<script type='text/javascript'>
    var graphs = {{ figEstudiantes | safe}};
    Plotly.plot('figEstudiantes', graphs, {});
</script>
{% endblock %}