{% extends 'base.html' %}

{% block title %}General{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
{% endblock %}

{% block body%}
<div class="content-block">
    <div>
        <h5  style="text-align: center; margin-top: 2%; margin-bottom: 5%;" >Estudiantes por institución</h5>
        <table class="table table-striped table-bordered proyectos_inscritos">
            <thead>
                <tr>
                    <th>
                        Institución
                    </th>
                    <th>
                        Estudiantes totales
                    </th>
                    <th>
                        Estudiantes esperados
                    </th>
                </tr>
            </thead>
            {% for key, value in Estado.tabla_estudiantes.iterrows() %}
            <tr>
                <th>
                    {{ value['Institucion'] }} 
                </th>
                <th>
                    {{ value['Total Estudiantes'] }}
                </th>
                <th>
                    {{ value['Estudiantes Esperados'] }}
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="total_estudiantes" class="chart"></div>
    <div>
        <h5  style="text-align: center; margin-top: 2%; margin-bottom: 5%;" >Estadisticas de aprobación en estudiantes</h5>
        <table class="table table-striped table-bordered proyectos_inscritos">
            <thead>
                <tr>
                    <th>
                        Criterio
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Promedio
                    </th>
                </tr>
            </thead>
            <tr>
                <th>Nota promedio de aprobación</th>
                <th>#</th>
                <th>{{ Estado.tabla_aprobacion['Nota promedio de aprobacion'][0] }}%</th>
            </tr>
            <tr>
                <th>Estudiantes aprobados</th> 
                <th>{{ Estado.tabla_aprobacion['Estudiantes aprobados'][0] }}</th>
                <th>{{ Estado.tabla_aprobacion['Porcentage de aprobados'][0] }}%</th>
            </tr>
            <tr>
                <th>Estudiantes reprobados</th>
                <th>{{ Estado.tabla_aprobacion['Estudiantes reprobados'][0] }}</th>
                <th>{{ Estado.tabla_aprobacion['Porcentage de reprobados'][0] }}%</th>
            </tr>
            <tr>
                <th>Estudiantes activos</th>
                <th>{{ Estado.tabla_aprobacion['Estudiantes activos'][0] }}</th>
                <th>{{ Estado.tabla_aprobacion['Porcentage de activos'][0] }}%</th>
            </tr>
            <tr>
                <th>Retiros de estudiante</th>
                <th>{{ Estado.tabla_aprobacion['Estudiantes retiro'][0] }}</th>
                <th>{{ Estado.tabla_aprobacion['Porcentage de retiro'][0] }}%</th>
            </tr>
        </table>
    </div>
</div>
{% endblock%}


{% block scripts %}
<script type='text/javascript'>
    var graphs = {{ Estado.grafico_estudiantes | safe }};
    Plotly.plot('total_estudiantes', graphs, {});
</script>
{% endblock %}
